{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}

	{{form_start(formCitoyen)}}
	{{form_start(formAdresse)}}

	{{form_row(formCitoyen.nomCitoyen)}}
	{{form_row(formCitoyen.prenomCitoyen)}}
	{{form_row(formCitoyen.courrielCitoyen)}}
	{{form_row(formCitoyen.motDePasseCitoyen)}}
	{{form_row(formCitoyen.confirm_mdp)}}
	{{ form_row(formCitoyen._token) }}

	{{form_row(formAdresse.numeroAdresse)}}
	{{form_row(formAdresse.nomRueAdresse)}}
	{{form_row(formAdresse.codePostalAdresse)}}
	{{form_row(formAdresse.villeAdresse)}}
	{{ form_row(formAdresse._token) }}

	<button type="submit" class="btn btn-success">
		Inscription
	</button>
	{{form_end(formCitoyen)}}
	{{form_end(formAdresse)}}

{% endblock %}
